<%= link_to admin_employees_path do %>
      <span class="text-gray-700 px-2 py-1 rounded-md hover:text-red-500 justify-center items-center hover:underline">
      <%= icon('fa-solid', 'angle-left')%> Back</span>
  <% end %>

<div class="mx-auto md:w-11/12 w-full">
  <h1 class="font-bold text-2xl">Edit employee</h1>

  <div class="border-2 border-blue-500 rounded-md py-2 px-5 mt-4">
  <div class="mt-2">
  <%= link_to [:admin, @admin_employee] do %>
      <span class="text-gray-700 px-2 py-1 rounded-md hover:text-blue-700 justify-center items-center">
      <%= icon('fa-solid', 'eye', class: "")%> view</span>
  <% end %>
  </div>
  <hr class="mt-2 bg-blue-500"></hr>
  <%= render "form", admin_employee: @admin_employee %>
  </div>
</div>
