<div id="<%= dom_id job %>">

  <p class="my-5">
    <strong class="block font-medium mb-1 font-bold">Title:</strong>
    <%= job.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= job.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Roles:</strong>
    <%= job.roles %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Requirements:</strong>
    <%= job.requirements %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Posting date:</strong>
    <%= job.posting_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expiry date:</strong>
    <%= job.expiry_date %>
  </p>

</div>
